node_modules
.env
.env.local
.env.production
.turbo
dist
build
coverage
*.log
apps/*/.expo
apps/*/.expo-shared
apps/*/.next
apps/*/dist
apps/*/node_modules
packages/*/dist
packages/*/node_modules
android
ios
