CORS_ORIGIN=https://teragharmeraghar.com,https://www.teragharmeraghar.com
FIREBASE_SERVICE_ACCOUNT_PATH=/app/keys/firebase-admin.json

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCayPii-w6RumZ8Qjgs4NznNSQ4HatH3bs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=aikad-13dc4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=aikad-13dc4
NEXT_PUBLIC_FIREBASE_APP_ID=1:201729412856:web:f2400591798aa5454c350d
